.wrapper h1 {
  text-align: center;
  color: #fff;
}

.temperatureUnitName {
  display: block;
  margin: 15px auto;
  font-size: 18px;
  outline: none;
  text-align: center;
}

.temperatureInputBox {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.temperatureInputBox input {
  font-size: 18px;
  width: 50px;
  text-align: right;
  outline: none;
  margin-right: 5px;
}

.temperatureBoxWrap {
  margin: 0 auto;
  border: 1px solid #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 300px;
  width: 100%;
  text-align: center;
  background-color: #323e55;
}

.temperatureBox {
  border-bottom: 1px solid #fff;
  padding: 15px 0;
  font-weight: bold;
  font-size: 17px;
}

.temperatureBox:last-child {
  border: none;
}